doctype html 
html 
    head
        title Shop Giày 
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./includes/header.pug
        .container
            h2 SẢN PHẨM
            table.content-table 
                thead
                    td STT 
                    td Tên Giày  
                    td Trạng Thái
                    td Size 
                    td Giá
                    if username
                            if role=='admin'
                                td Hành Động
                tbody
                    each todo, index in todos 
                        tr 
                            td=index + 1
                            td=todo.title 
                            td=todo.status 
                            td=todo.size 
                            td=todo.price
                            if username
                                if role=='admin'
                                    td  
                                        form(method="post" action=`/delete-todo/${todo._id}`)
                                            button(type="submit") Xóa
                                        fieldset
        include ./includes/footer.pug
        