doctype html 
html 
    head
        title User Management
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./includes/header.pug
        .container
            h2 USER List
            table.content-table
                thead
                    td STT 
                    td Ten dang nhap
                    td Role 
                    td Action 
                tbody
                    each user, index in users 
                        tr 
                            td=index 
                            td=user.username 
                            td=user.role 
                            td 
                                a(href=`/delete-user/${user._id}`) Delete
                                br
                                a(href=`/update-user/${user._id}`) Update
        include ./includes/footer.pug