doctype html 
html 
    head
        title User Management
        link(rel="stylesheet", href="./public/css/style.css")
    body
        include ./includes/header.pug
        .container
            h2 USER List
            table.content-table 
                thead
                    td STT 
                    td Ten dang nhap 
                    td mat khau 
                    td Salt 
                    td Hpass
                    td Role 
                    td Action 
                tbody
                    each user, index in users 
                        tr 
                            td=index 
                            td=user.username 
                            td=user.password
                            td=user.salt 
                            td=user.hpass
                            td=user.role 
                            td=user.role 
                                a(href=`/delete-user/${user._id}`) Delete
                                br
                                a(href=`/update-user/${user._id}`) Update
        include ./includes/footer.pug